@import 'tailwindcss';
@plugin "@tailwindcss/typography";


.layout-main {
    scroll-behavior: smooth;
    /*background: rgba(var(--mdui-color-secondary-container),0.5);*/
    /*scroll-padding-top: 120px;*/
}


.hello{
    padding: 4px;
    color: #66ccff;
}

#main-drawer[mobile].not-open-if-mobile{
    display: none!important;
}