@font-face {
    font-family: 'YouSheShaYuFeiTeJianKangTi';
    src: url('/fonts/YouSheShaYuFeiTeJianKangTi.ttf') format('truetype');
    font-weight: normal;  /* 默认字重 */
    font-style: normal;   /* 默认样式 */
    font-display: swap;   /* 避免文字闪烁，先显示备用字体 */
}

@font-face {
    font-family: 'ChillRound';
    src: url('/fonts/ChillRoundFBold.ttf') format('truetype');
    font-weight: bold;  /* 粗体字重 */
    font-style: normal; /* 默认样式 */
    font-display: swap; /* 避免文字闪烁，先显示备用字体 */
}

@font-face {
    font-family: 'ChillRound';
    src: url('/fonts/ChillRoundFRegular.ttf') format('truetype');
    font-weight: normal;  /* 默认字重 */
    font-style: normal;   /* 默认样式 */
    font-display: swap;   /* 避免文字闪烁，先显示备用字体 */
}

@font-face {
    font-family: 'ChillRound2';
    src: url('/fonts/ChillRoundM.ttf') format('truetype');
    font-weight: normal;  /* 默认字重 */
    font-style: normal;   /* 默认样式 */
    font-display: swap;   /* 避免文字闪烁，先显示备用字体 */
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: local('JetBrains Mono Thin'),
    url('/fonts/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100;
    src: local('JetBrains Mono Thin Italic'),
    url('/fonts/JetBrainsMono-ThinItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    src: local('JetBrains Mono ExtraLight'),
    url('/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 200;
    src: local('JetBrains Mono ExtraLight Italic'),
    url('/fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: local('JetBrains Mono Light'),
    url('/fonts/JetBrainsMono-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 300;
    src: local('JetBrains Mono Light Italic'),
    url('/fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local('JetBrains Mono Regular'),
    url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: local('JetBrains Mono Italic'),
    url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local('JetBrains Mono Medium'),
    url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    src: local('JetBrains Mono Medium Italic'),
    url('/fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: local('JetBrains Mono SemiBold'),
    url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    src: local('JetBrains Mono SemiBold Italic'),
    url('/fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: local('JetBrains Mono Bold'),
    url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    src: local('JetBrains Mono Bold Italic'),
    url('/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: local('JetBrains Mono ExtraBold'),
    url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    src: local('JetBrains Mono ExtraBold Italic'),
    url('/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
}




body {
    /*system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"*/

    --font-sans:  ChillRound2, ChillRound, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: YouSheShaYuFeiTeJianKangTi, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:  'JetBrains Mono', SFMono,Menlo, Monaco, Consolas,"Liberation Mono","Courier New", ChillRound, "Microsoft YaHei", Roboto, monospace;
    font-family: var(--font-sans);
}

code {
    font-family: var(--font-mono) !important;
}

:root {
    --h: 270deg;
    --s: 95%;
    --l: 65%;
    --h2: 322deg;
    --my-primary: hsl(var(--h) var(--s) var(--l));
    --my-secondary: hsl(var(--h2) var(--s) var(--l));

}

.text-act{
    font-family: var(--font-serif);
}

.mdui-theme-dark .astro-code,
.mdui-theme-dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

/**********************
       文章排版
 *********************/
.article .astro-code, .article .astro-code span {
    background-color: rgb(var(--mdui-color-secondary-container)) !important;
}


.article a {
    color: var(--my-primary);
    text-decoration: none;
}

.article a:hover , .article a:focus , .article u,  .article ins{
    text-decoration: underline;
    text-underline-mode: normal;
    text-underline-position: under;
    text-underline-offset: 15%;
}

.article a:active {
    color: var(--my-secondary);
}

.article :not(pre) code {
    color: var(--my-secondary);
    background: hsla(var(--h2) var(--s) var(--l) / 0.1);
    border-radius: var(--mdui-shape-corner-extra-small);
    display: inline-block;
}

/*.article i, */
.article em {
    opacity: 0.55;
}

.article del {
    opacity: 0.45;
}

.article del:hover {
    text-decoration: none;
}

.article strong, .article b {
    /*background: hsl(var(--h) var(--s) var(--l) / 0.2);*/
}

.article img {
    color: var(--my-primary);
    border-radius: var(--mdui-shape-corner-medium);
}

.article hr {
    border-radius: var(--mdui-shape-corner-medium);
    height: 1px;
    background-color: currentColor;
    opacity: 0.1;
}





    /**********************
           应用布局
     *********************/

.main-article-wrapper {
    scroll-behavior: smooth;
    background-color: rgba(var(--mdui-color-secondary-container),0.5);
    /* 有点bug, 会出现类似 body {padding-top: -128px} 的现象 */
    /*scroll-padding-top: 128px;*/
}

/** 防止锚点被应用栏遮挡 */
.main-article-wrapper h1::before, .main-article-wrapper h2::before, .main-article-wrapper h3::before,
.main-article-wrapper h4::before, .main-article-wrapper h5::before, .main-article-wrapper h6::before {
    content: "";
    display: block;
    height: 128px;
    margin-top: -128px;
    visibility: hidden;
}

pre > code {
    display: block;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    background-color: transparent !important;
}

/*pre > code > .line{*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*}*/

/** 主题切换按钮样式 */
.mdui-theme-dark .icon-toggle-theme-dark{
    display: none
}
.mdui-theme-dark .icon-toggle-theme-light{
    display: inline;
}

html:not(.mdui-theme-dark) .icon-toggle-theme-light {
    display: none
}

html:not(.mdui-theme-dark) .icon-toggle-theme-dark {
    display: inline;
}

/** 选中文本 */
::selection {
    background-color: #617cfb55 ;
    color: currentColor;
}

.hello{
    padding: 4px;
    color: #66ccff;
}