@import 'tailwindcss';
@plugin "@tailwindcss/typography";


.layout-main {
    scroll-behavior: smooth;
    /*background: rgba(var(--mdui-color-secondary-container),0.5);*/
    /*scroll-padding-top: 120px;*/
}

pre > code {
    display: block;
    overflow-x: auto;
    padding: 0;
    margin: 0;
    background-color: transparent !important;
}

/*pre > code > .line{*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*}*/


.hello{
    padding: 4px;
    color: #66ccff;
}

#main-drawer[mobile].not-open-if-mobile{
    display: none!important;
}