---
import Page from "../layouts/Page.astro";
const title = '404 Not Found';
---

<Page title={title} prose class="text-center text-act">
    <h2 class="text-4xl mt-16">
        404 Not Found

    </h2>
    <hr />
    <p text-xl >
        MagicBook/1.0.0

    </p>
</Page>