---
import Page from "../layouts/Page.astro";
import Feather from "../components/Feather.astro";
import type {NavigationDrawer} from "mdui";
import Header from "../components/Header.astro";
---
<Page title="Home" >

<mdui-layout>
   <Header />

    <mdui-layout-main class="layout-main bg-amber-500 h-screen">

        <div class="h-[999px] bg-amber-200 p-4">
            Main body
        </div>
        <!--<div class="h-48 bg-red-200"></div>-->


    </mdui-layout-main>
</mdui-layout>


</Page>