---
import '../styles/global.css';
// Component Imports
import TButton from '../components/Button.astro';
import Layout from "../layouts/Layout.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="Home" >

	<div class="grid place-items-center h-screen content-center">
		<TButton>Tailwind Button in Astro!</TButton>
		<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
		<mdui-button variant="tonal">点我</mdui-button>

	</div>

	<script>
		import type { Button } from "mdui";

		const button = document.querySelector('mdui-button') as Button;
		// if(button){
		//
		// 	// 设置 JavaScript 属性
		// 	button.variant = 'text';
		//
		// 	// 读取 JavaScript 属性
		// 	console.log(button.variant); // outlined
		// }

		function handleButtonClick(event: Event) {
			const button = event.target as Button;
			if(button){

				// 设置 JavaScript 属性
				button.variant = 'elevated';

				// 读取 JavaScript 属性
				console.log(button.variant); // outlined
			}
		}

		button.addEventListener('click', handleButtonClick);

	</script>

</Layout>

