---
import Feather from "./Feather.astro";
const {title} = Astro.props
---

<style>
    mdui-navigation-drawer::part(panel) {
        background: rgb(var(--mdui-color-secondary-container));
    }
</style>

<mdui-navigation-drawer class="not-open-if-mobile"
                        open id="main-drawer" close-on-esc close-on-overlay-click

>
    <mdui-list>
        <mdui-list-item>Navigation drawer</mdui-list-item>
    </mdui-list>
</mdui-navigation-drawer>

<mdui-top-app-bar variant="medium"
                  scroll-behavior="shrink elevate"
                  scroll-target=".main-article-wrapper"
                  class="p-3 position-relative bg-[rgb(var(--mdui-color-primary-container))]"
>
    <mdui-button-icon id="btn-open-drawer" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="menu"></Feather>
    </mdui-button-icon>
    <mdui-top-app-bar-title>
        {title}
        <span slot="label-large">{title}</span>
    </mdui-top-app-bar-title>
    <div style="flex-grow: 1"></div>
    <mdui-button-icon id="btn-toggle-theme" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="moon" class="icon-toggle-theme-dark"></Feather>
        <Feather icon="sun" class="icon-toggle-theme-light"></Feather>
    </mdui-button-icon>
    <mdui-button-icon id="btn-more" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="more-vertical"></Feather>
    </mdui-button-icon>

    <script>
        import type {NavigationDrawer, Button} from 'mdui';
        import {setTheme, getTheme} from 'mdui';

        const drawer = document.getElementById('main-drawer') as NavigationDrawer;

        drawer.addEventListener('open', (event) => {
            console.log('drawer opening ')
        })


        const timer = setInterval(() => {
            if (drawer.hasAttribute('mobile')) {
                drawer.open = false;
                clearInterval(timer);

                drawer.addEventListener('closed', (event) => {
                    drawer.classList.remove('not-open-if-mobile');
                    console.debug('抽屉栏关闭');
                }, {once: true});
            }
        }, 100)

        const btn = document.getElementById('btn-open-drawer') as HTMLElement;
        btn.addEventListener("click", () => drawer.open = !drawer.open);

        const btn2 = document.getElementById('btn-toggle-theme') as HTMLElement;
        btn2.addEventListener("click", () => {
            if (getTheme() === 'dark') {
                setTheme('light');
            }else {
                setTheme('dark');
            }
        });



    </script>


</mdui-top-app-bar>
