---
import Feather from "./Feather.astro";
const {title} = Astro.props
---

<style>
    mdui-navigation-drawer::part(panel) {
        background: rgb(var(--mdui-color-secondary-container));
    }

    .profile-infobox {
        background-color: rgba(var(--mdui-color-primary), 0.2);
        background-image: url("/profile_background.jpg");
        background-size: cover;
    }

    .profile-avatar {
        color: #617cfb;
        outline: solid 2px currentColor;
    }

    #main-drawer {
        box-shadow: var(--mdui-elevation-level2);
    }

    .app-bar {
        background: rgb(var(--mdui-color-primary-container));
    }
</style>
{/** 抽屉栏 */}
<mdui-navigation-drawer id="main-drawer"
                         open close-on-esc close-on-overlay-click

>
    <div class="profile-infobox w-full aspect-video">
        <div class="w-full aspect-video bg-[#0000007f] relative flex flex-col mdui-theme-dark">
            <div class="flex p-3">
                <div class="grow"></div>
                <!--<mdui-button-icon>-->
                <!--    <Feather icon="home" class="icon-toggle-theme-dark"></Feather>-->
                <!--</mdui-button-icon>-->
            </div>
            <div class="grow">
                <!--mid-->
            </div>
            <div class="p-8 flex items-center">
                <mdui-button-icon href="/" class="w-[3em] h-[3em] profile-avatar ">
                    <img class="w-full h-full m-4" src="/avatar.png"/>
                </mdui-button-icon>

                <mdui-button href="/profile" variant="text" class="h-full">
                    <mdui-top-app-bar-title class="">
                        大天才
                    </mdui-top-app-bar-title>
                </mdui-button>
            </div>

        </div>
    </div>
    <mdui-list>
        <mdui-list-item>Navigation drawer</mdui-list-item>
    </mdui-list>
</mdui-navigation-drawer>

{/** 顶栏 */}
<mdui-top-app-bar variant="medium"
                  scroll-behavior="shrink elevate"
                  scroll-target=".main-article-wrapper"
                  class="p-3 position-relative app-bar"
>
    <mdui-button-icon id="btn-open-drawer" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="menu"></Feather>
    </mdui-button-icon>
    <mdui-top-app-bar-title>
        {title}
        <h1 slot="label-large">{title}</h1>
    </mdui-top-app-bar-title>
    <div style="flex-grow: 1"></div>
    <mdui-button-icon id="btn-toggle-theme" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="moon" class="icon-toggle-theme-dark"></Feather>
        <Feather icon="sun" class="icon-toggle-theme-light"></Feather>
    </mdui-button-icon>
    <mdui-button-icon id="btn-more" style="color: rgba(var(--mdui-color-primary), 1)">
        <Feather icon="more-vertical"></Feather>
    </mdui-button-icon>

    <script>
        import type {NavigationDrawer, Button} from 'mdui';
        import {setTheme, getTheme, setColorScheme} from 'mdui';

        const drawer = document.getElementById('main-drawer') as NavigationDrawer;

        drawer.addEventListener('open', (event) => {
            console.log('drawer opening ')
        })


        const btn = document.getElementById('btn-open-drawer') as HTMLElement;
        btn.addEventListener("click", () => drawer.open = !drawer.open);

        const btn2 = document.getElementById('btn-toggle-theme') as HTMLElement;
        btn2.addEventListener("click", () => {
            if (getTheme() === 'dark') {
                setTheme('light');
                localStorage.setItem('theme', 'light');
                // setColorScheme('#ffb6c1')
                // setColorScheme('#9824e5');
            } else {
                setTheme('dark');
                localStorage.setItem('theme', 'dark');

                // setColorScheme('#ff9fcf')
                // setColorScheme('#9824e5');
            }
        });


    </script>


</mdui-top-app-bar>
