---
import magic from "../magic";
import Page from "./Page.astro";
import { PathNode } from "../friendship";
import type { MagicEntry } from "../friendship";
import IndexList from "../components/IndexList.astro";
import IndexItem from "../components/IndexItem.astro";

// interface Props {
//     entry: MagicEntry;
//     type: string;
//     list: PathNode[][];
// }


const { type, data, magicProps } = Astro.props;
const list:PathNode[][] = Astro.props.list;

// console.log( Astro.props)
---

<Page title={magicProps?.title} prose>
    <div>
        <em>{type}</em>
    </div>
    <slot />
    <p>
        <IndexList>
            {
                list[0].map((item, i:Number) => (
                    <IndexItem text={(item?.props?.magicProps?.title || '(no title)') + item?.stat?.mtime} href={'/'+item.path}  icon="dir" />
                ))
            }
            {
                list[1].map((item, i:Number) => (
                    <IndexItem text={(item?.props?.magicProps?.title || '(no title)') + item?.stat?.mtime} href={'/'+item.path} icon="file" />
                ))
            }
        </IndexList>
    </p>
</Page>
