---
import '../styles/global.css';
import 'mdui/mdui.css';
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const {title , prose} = Astro.props

let prose_cls = prose ? ' mdui-prose': '';
// prose_cls = prose ? ' prose lg:prose-xl': '';
---

<html lang="zh-hans">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>{title}</title>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@2.1.3/mdui.min.css">-->
    <script type="text/javascript">
        // var theme_cls ="mdui-theme-dark"
        // document.getElementsByTagName('html')[0].setAttribute('class', "mdui-theme-dark")
    </script>
    <script>
        import '../scripts/global'
    </script>

</head>
<body>

<mdui-layout>
    <Header title={title} />
    <mdui-layout-main class="layout-main h-screen flex flex-col">
        <div class={"p-4 grow "+prose_cls}>
            <slot/>
        </div>
        <Footer />


    </mdui-layout-main>
</mdui-layout>


<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdui@2.1.3/mdui.global.min.js"></script>-->
</body>
</html>
